<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--<mapper namespace="dj.mybatis.dao.SecondaryUserMapper">-->
<mapper namespace="dj.mybatis.dao.SecondaryUserMapper">
    <cache/><!-- 加上该句即可，使用默认二级缓存配置、还有另外一种方式，在后面写出 -->
    <resultMap id="resultMap" type="java.util.HashMap">
    </resultMap>
    <!--查询所有-->
    <select id="findAll" resultMap="resultMap" useCache="false">
        select * from sys_users WHERE id <![CDATA[<>]]> 2
    </select>

</mapper>

